/* tag selector */
/*
span {
  display: block
}
*/

/*CSS 주석 */
html * {
    border: 1px dashed blue
  }
  
  .span-class{
    display:block
  }
  
  #span-id-selector{
    display: block
  }
  
  /* class-selector: 클래스 이름 앞에 '.'을 붙여서 표현*/
  .span-class-selector{
    display: block
  }
  
  /* id-selector: */
  #span-id-selector{
    display: block
  }